
module allow_httpd_write_var 1.0;

require {
	type httpd_t;
	type var_lib_t;
	class file write;
}

#============= httpd_t ==============
allow httpd_t var_lib_t:file write;
