
module allow_httpd_systemctl_start 1.0;

require {
	type systemd_unit_file_t;
	type httpd_t;
	class service start;
}

#============= httpd_t ==============
allow httpd_t systemd_unit_file_t:service start;
