
module allow_httpd_systemctl_execute_no_trans 1.0;

require {
	type httpd_t;
	type systemd_systemctl_exec_t;
	class file execute_no_trans;
}

#============= httpd_t ==============
allow httpd_t systemd_systemctl_exec_t:file execute_no_trans;
