
module allow_httpd_systemctl_policykit 1.0;

require {
	type systemd_unit_file_t;
	type httpd_t;
	type policykit_auth_t;
	type policykit_t;
	type init_t;
	class process { siginh noatsecure rlimitinh };
	class lnk_file read;
	class service { status stop };
}

#============= httpd_t ==============
allow httpd_t init_t:lnk_file read;
allow httpd_t systemd_unit_file_t:service { status stop };

#============= policykit_t ==============
allow policykit_t policykit_auth_t:process { siginh rlimitinh noatsecure };
