
module allow_httpd_systemctl_read 1.0;

require {
	type httpd_t;
	type systemd_systemctl_exec_t;
	class file { read open };
}

#============= httpd_t ==============
allow httpd_t systemd_systemctl_exec_t:file { read open };
