[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=transmission
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error
ExecReload=/bin/kill -s HUP $MAINPID
ExecStartPost=/bin/chmod 660 /var/lib/transmission/.config/transmission-daemon/settings.json
ExecStopPost=/bin/chmod 660 /var/lib/transmission/.config/transmission-daemon/settings.json

[Install]
WantedBy=multi-user.target
