{% extends "base.html" %}
{% block content %}
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
      </div>

      <!--logo start-->
      <a href="/" class="logo">DistroSeed <span class="lite">Dash</span></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

              <span class="username">UserName</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <li class="eborder-top">
                <a href="/"><i class="fa fa-home"></i> Home</a>
              </li>
              <li>
                <a href="/newdistro/"><i class="fa fa-plus"></i> Add Distro</a>
              </li>
              <li>
                <a href="/timeline/"><i class="fa fa-history"></i> Timeline</a>
              </li>
              <li>
                <a href="/settings/"><i class="fa fa-cogs"></i> Settings</a>
              </li>
              <li>
                <a href="/logs/"><i class="fa fa-book"></i> Logs</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/wiki"><i class="fa fa-life-ring"></i> Wiki</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/issues"><i class="fa fa-bug"></i> Bug Report</a>
              </li>
              <li>
                <a href="/logout/"><i class="fa fa-sign-out"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notification dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--main content start-->

    <section class="wrapper">
      <!--overview start-->

      <!-- start of nav top breadcrumb-->
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Dashboard</li>
          </ol>
        </div>
      </div>
      <!-- End breadcrumbs -->
      <!-- start of top cards-->

      <div class="row">
        <div class="col-lg-5">
          <div class="info-box blue-bg">
            <i class="fa fa-arrow-circle-o-up pull-right"></i>
            <i class="fa fa-arrow-circle-o-down"></i>
            <div class="count">68.6GB <span class="pull-right">85.12GB</span></div>
            <div class="title">Downloaded this month<span class="pull-right">Uploaded this month</span></div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-2">
          <div class="info-box yellow-bg">
            <i class="fa fa-signal"></i>
            <div class="count">47</div>
            <div class="title">Active Seeds</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-2">
          <div class="info-box maroonlite-bg">
            <i class="fa fa-search-plus"></i>
            <div class="count">23</div>
            <div class="title">New seeds</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3">
          <div class="info-box green-bg">
            <i class="fa fa-cubes"></i>
            <div class="count">85.43 GB</div>
            <div class="title">Current Storage Used</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <!-- Today Cards Top end -->

      </div><!--/.row cards-->

      <!-- Current Seeds Active -->

      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong>Active Seeds</strong></h2>

            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable countries">
                <thead>
                  <tr>
                    <th></th>
                    <th>Distro</th>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Up / Down</th>
                    <th>Progress</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Desktop</td>
                    <td>15.04</td>
                    <td>6.3GB</td>
                    <td>10kbps | 11kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/centos-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Centos</td>
                    <td>X64 NetInstall</td>
                    <td>6.5</td>
                    <td>5.3GB</td>
                    <td>10kbps | 41kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/pfsense-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>PfSense</td>
                    <td>Release</td>
                    <td>2.2.3</td>
                    <td>2.3GB</td>
                    <td>1110kbps | 1814kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>12.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>12.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Desktop</td>
                    <td>14.04</td>
                    <td>6.3GB</td>
                    <td>10kbps | 11kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/centos-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Centos</td>
                    <td>X64 NetInstall</td>
                    <td>6.4</td>
                    <td>5.3GB</td>
                    <td>10kbps | 41kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/pfsense-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>PfSense</td>
                    <td>Release</td>
                    <td>2.2.2</td>
                    <td>2.3GB</td>
                    <td>1110kbps | 1814kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>11.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>8.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>12.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>12.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Desktop</td>
                    <td>14.04</td>
                    <td>6.3GB</td>
                    <td>10kbps | 11kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/centos-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Centos</td>
                    <td>X64 NetInstall</td>
                    <td>6.4</td>
                    <td>5.3GB</td>
                    <td>10kbps | 41kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/pfsense-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>PfSense</td>
                    <td>Release</td>
                    <td>2.2.2</td>
                    <td>2.3GB</td>
                    <td>1110kbps | 1814kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>11.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>8.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>12.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>12.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Desktop</td>
                    <td>14.04</td>
                    <td>6.3GB</td>
                    <td>10kbps | 11kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/centos-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Centos</td>
                    <td>X64 NetInstall</td>
                    <td>6.4</td>
                    <td>5.3GB</td>
                    <td>10kbps | 41kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/pfsense-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>PfSense</td>
                    <td>Release</td>
                    <td>2.2.2</td>
                    <td>2.3GB</td>
                    <td>1110kbps | 1814kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Server</td>
                    <td>11.04</td>
                    <td>1.7GB</td>
                    <td>710kbps | 181kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="{{MEDIA_URL}}img/icons/ubuntu-logo.png" style="height:18px; margin-top:-2px;"></td>
                    <td>Ubuntu</td>
                    <td>X64 Minimal</td>
                    <td>8.04</td>
                    <td>280MB</td>
                    <td>90kbps | 21kbps</td>
                    <td>
                      <div class="progress progress-striped active progress-sm">
                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/col-->
      </div><!--/row-->
    </section>
{% endblock %}
