{% extends "base.html" %}
{% block content %}
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
      </div>

      <!--logo start-->
      <a href="/" class="logo">DistroSeed <span class="lite">Dash</span></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

              <span class="username">{{username}}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <li class="eborder-top">
                <a href="/"><i class="fa fa-home"></i> Home</a>
              </li>
              <li>
                <a href="/newdistro/"><i class="fa fa-plus"></i> Add Distro</a>
              </li>
              <li>
                <a href="/timeline/"><i class="fa fa-history"></i> Timeline</a>
              </li>
              <li>
                <a href="/settings/"><i class="fa fa-cogs"></i> Settings</a>
              </li>
              <li>
                <a href="/logs/"><i class="fa fa-book"></i> Logs</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/wiki"><i class="fa fa-life-ring"></i> Wiki</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/issues"><i class="fa fa-bug"></i> Bug Report</a>
              </li>
              <li>
                <a href="/logout/"><i class="fa fa-sign-out"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notification dropdown end-->
      </div>
    </header>
    <!--header end-->
    <!--main content start-->

    <section class="wrapper">
      <!--overview start-->

      <!-- start of nav top breadcrumb-->
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Server Logs</li>
          </ol>
        </div>
      </div>

<!-- End of breadcrumb -->
      <div class="row">

<!-- start content here -->

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm">Timestamp</th>
        <th class="col-sm">Type</th>
        <th class="col-lg">Issue</th>
      </tr>
    </thead>
    <tbody>
      <tr class="warning">
        <td>Jun 14 2015 01:23:45</td>
        <td>Warning</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop trying to access distrowatch, but site is not responding</td>
      </tr>
      <tr class="danger">
        <td>Jun 14 2015 01:23:45</td>
        <td>Error</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop but failed like a moored ship during a tsunami.</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
      <tr>
        <td>Jun 14 2015 01:23:45</td>
        <td>Info</td>
        <td>[some.handler.exception.location?] Searching for Ubuntu 14.04 X64 Desktop</td>
      </tr>
    </tbody>
  </table>
</div>
      </div> <!-- Row end-->
      <div class="row">
  <div class="text-center">
    <ul class="pagination pagination-sm">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>
</div>
{% endblock %}
