{% extends "base.html" %}
{% block content %}
    <!--main content start-->
    <section class="wrapper">

      <!-- start of nav top breadcrumb-->
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Notifications</li>
          </ol>
        </div>
      </div>

      <!-- End of breadcrumb -->
      <div class="row">
          <!-- start content here -->
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h2><i class="fa fa-list-alt red"></i><strong>Notifications History</strong></h2>
                      </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                  <th>Date</th>
                                  <th>Action</th>
                                  <th>Distro</th>
                                  <th>Bit</th>
                                  <th>Version</th>
                                  <th>Size</th>
                                  <th><span class=" pull-right">Type</span></th>
                                </tr>
                                <tr>
                                  <td>Jul 7 2015</td>
                                  <td><span class="label label-success">Added</span></td>
                                  <td>PfSense</td>
                                  <td>X64</td>
                                  <td>2.2.3</td>
                                  <td>2.3GB</td>
                                  <td>Release</td>
                                </tr>
                                <tr>
                                  <td>Jul 3 2015</td>
                                  <td><span class="label label-warning">Pruned</span></td>
                                  <td>Centos</td>
                                  <td>X64</td>
                                  <td>6.5</td>
                                  <td>5.9GB</td>
                                  <td>NetInstall</td>
                                </tr>
                                <tr>
                                  <td>Jun 17 2015</td>
                                  <td><span class="label label-danger">Failed</span></td>
                                  <td>Ubuntu</td>
                                  <td>X86</td>
                                  <td>12.04</td>
                                  <td>2.3GB</td>
                                  <td>Server</td>
                                </tr>
                                <tr>
                                  <td>Jun 17 2015</td>
                                  <td><span class="label label-success">Added</span></td>
                                  <td>Centos</td>
                                  <td>X64</td>
                                  <td>6.5</td>
                                  <td>1.9GB</td>
                                  <td>Minimal</td>
                                </tr>
                                <tr>
                                  <td>Jun 17 2015</td>
                                  <td><span class="label label-warning">Pruned</span></td>
                                  <td>Centos</td>
                                  <td>X64</td>
                                  <td>6.0</td>
                                  <td>5.9GB</td>
                                  <td>Desktop</td>
                                </tr>
                                <tr>
                                  <td>Jun 17 2015</td>
                                  <td><span class="label label-success">Added</span></td>
                                  <td>Centos</td>
                                  <td>X64</td>
                                  <td>6.4</td>
                                  <td>300MB</td>
                                  <td>NetInstall</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                     </div>
                  </div>
{% endblock %}
