{% extends "base.html" %}
{% block content %}
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo">DistroSeed <span class="lite">Dash</span></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

              <span class="username">UserName</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="/"><i class="fa fa-home"></i> Home</a>
              </li>
              <li>
                <a href="/newdistro/"><i class="fa fa-plus"></i> Add Distro</a>
              </li>
              <li>
                <a href="/timeline/"><i class="fa fa-history"></i> Timeline</a>
              </li>
              <li>
                <a href="/settings/"><i class="fa fa-cogs"></i> Settings</a>
              </li>
              <li>
                <a href="/logs/"><i class="fa fa-book"></i> Logs</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/wiki"><i class="fa fa-life-ring"></i> Wiki</a>
              </li>
              <li>
                <a href="https://github.com/DistroSeed/DistroSeed-Dashboard/issues"><i class="fa fa-bug"></i> Bug Report</a>
              </li>
              <li>
                <a href="/logout/"><i class="fa fa-sign-out"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notification dropdown end-->
      </div>
    </header>
    <!--header end-->


    <!--main content start-->

    <section class="wrapper">
      <!--overview start-->

      <!-- start of nav top breadcrumb-->
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Timeline</li>
          </ol>
        </div>
      </div>

<!-- End of breadcrumb -->
      <div class="row">
<!-- start content here -->
<div class="row">

  <div class="col-lg-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><i class="fa fa-list-alt red"></i><strong>Timeline</strong></h2>

      </div>


      <table class="table table-hover personal-task">
        <tbody>
          <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Distro</th>
            <th>Bit</th>
            <th>Version</th>
            <th>Size</th>
            <th><span class=" pull-right">Type</span></th>
          </tr>
          <tr>
            <td>Jul 7 2015</td>
            <td><span class="label label-success">Added</span></td>
            <td>PfSense</td>
            <td>X64</td>
            <td>2.2.3</td>
            <td>2.3GB</td>
            <td>Release</td>
          </tr>
          <tr>
            <td>Jul 3 2015</td>
            <td><span class="label label-warning">Pruned</span></td>
            <td>Centos</td>
            <td>X64</td>
            <td>6.5</td>
            <td>5.9GB</td>
            <td>NetInstall</td>
          </tr>
          <tr>
            <td>Jun 17 2015</td>
            <td><span class="label label-danger">Failed</span></td>
            <td>Ubuntu</td>
            <td>X86</td>
            <td>12.04</td>
            <td>2.3GB</td>
            <td>Server</td>
          </tr>
          <tr>
            <td>Jun 17 2015</td>
            <td><span class="label label-success">Added</span></td>
            <td>Centos</td>
            <td>X64</td>
            <td>6.5</td>
            <td>1.9GB</td>
            <td>Minimal</td>
          </tr>
          <tr>
            <td>Jun 17 2015</td>
            <td><span class="label label-warning">Pruned</span></td>
            <td>Centos</td>
            <td>X64</td>
            <td>6.0</td>
            <td>5.9GB</td>
            <td>Desktop</td>
          </tr>
          <tr>
            <td>Jun 17 2015</td>
            <td><span class="label label-success">Added</span></td>
            <td>Centos</td>
            <td>X64</td>
            <td>6.4</td>
            <td>300MB</td>
            <td>NetInstall</td>
          </tr>


        </tbody>
      </table>

    </div>
  </div>

      </div>
{% endblock %}
